$dark-grey: #373737;
$light-grey: #a3a3a3;
$ni-grey: #1a1a1a;
$night: #333333;
$orange: #782206;
$yellow: #FFDE49;
$torquose: #197486;
$lavender: #9a9bcd;
$dark-lavender: #5557ab;
$ocra: #f7b80d;
$cream: #EFEFEF;
$gold: #C47C00;

$greenish: #607534;
$reddish: #8C0E03;
$orangish: #D95204;

$contrast_colour: $reddish;
$active-bar: $gold;