$dark-grey: #373737;
$light-grey: #a3a3a3;
$night: #333333;
$orange: #782206;
$yellow: #FFDE49;
$torquose: #197486;
$lavender: #D2D3E8;
$ocra: #f7b80d;
$cream: #EFEFEF;
$gold: #C47C00;

$contrast_colour: $lavender;
$active-bar: $gold;