@import "_colours";

svg {
  /*font-family: 'PT Mono', sans-serif;
  font-size: 1.5em;*/
  font: normal 14px/54px "pt mono";
  letter-spacing: 3px;
  word-spacing: -0.3em;
}

text {
  fill: lighten($ni-grey, 10%);
  //fill-opacity: .9;
}

.axis path,
.axis line {
  fill: none;
  stroke: #808080;//lighten($ni-grey, 40%);
  shape-rendering: crispEdges;
}

.bar {
  fill: $greenish;
  fill-opacity: .9;
}

.bar.active {
  fill: $gold; //darken($orange, 5%);
}

.x.axis path {
  display: none;
}