
svg {
  /*font-family: 'PT Mono', sans-serif;
  font-size: 1.5em;*/
  font: normal 14px/54px "pt mono";
  letter-spacing: 3px;
  word-spacing: -0.3em;
}

text {
  fill: white;
  //fill-opacity: .9;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.bar {
  fill: #EFEFEF;
  /*fill: #ea6e4c;*/
  fill-opacity: .8;
}

.bar.active {
  fill: darkRed;
}

.x.axis path {
  display: none;
}