
@import "bar";

header.explore_data {
  padding-bottom: 180px;
}

header {
  .application_controls {
    // TODO: this looks a hack! Used to align the icons to the title!
    padding: 35px 0;
    text-align: center;
  }
  i {
    opacity: 0.4;
  }
  i:hover {
    opacity: 1;
    color: $contrast_colour;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}

#year {
  opacity: 0.9;
  h1 {
    font-family: "lato";
    font-size: 5em;
  }
}

#explore_data {
  #viz_controls {
    i.selected {
      color: $contrast_colour;
      opacity: 1;
    }
    i.active {
      opacity: 0.4;
    }
    i.inactive {
      opacity: 0.1;
    }
    i.active:hover {
      color: $contrast_colour;
      opacity: 0.8;
    }
  }
  .controls {
    margin: 0.4em;
    cursor: pointer; 
    cursor: hand;
  }
}
