@import "bar";

header.explore_data {

  .application_controls {
    // TODO: this looks a hack! Used to align the icons to the title!
    padding: 35px 0;
    text-align: center;
    i {
      opacity: 0.8;
    }
    i:hover {
      opacity: 1;
      color: $contrast_colour;
    }
  }
  
  .title {
    text-align: center;
    text-transform: uppercase;
    opacity: 0.8;
    .year {
      //color: lighten($dark-lavender, 10%);
      color: $reddish;
    }
  }

}



#info_panel {
  #viz_controls {
    padding: 0 0 25px 30px;
    i.selected {
      color: $contrast_colour;
      opacity: 1;
    }
    i.active {
      opacity: 0.4;
    }
    i.inactive {
      opacity: 0.1;
    }
    i.active:hover {
      color: $contrast_colour;
      opacity: 0.8;
    }
    .controls {
      margin: 0.4em;
      cursor: pointer;
    }
  }
  .help {
    font-family: "Merriweather";
    opacity: 0.9;
    padding: 12px 42px;
    i {
      opacity: 0.4;
      cursor: pointer;
    }
    i:hover {
      opacity: 0.8;
      color: $contrast_colour;
    }
    i.selected {
      color: $contrast_colour;
      opacity: 1;
    }
    ul {
      padding-left: 14px;
    }
    li {
      margin-bottom: 10px;
    }
  }
  
}
