<i title="information" class="icon-information_white icon2x"></i>

<div style="display:none">

<p>Inspired by Heer & Robertson’s paper, &#34;<a href="http://vis.berkeley.edu/papers/animated_transitions/">Animated Transitions in Statistical Data Graphics</a>&#34;</p>

<p>This is an example about combining a <strong>ranking design</strong> with a <strong>timeseries design</strong>. The connection between the two is obtained by the animated transitions.</p>

<p>The categorical scale, which identifies the urban agglomerations, resides on the Y axis and the scale for the quantitative values (population) resides on the X axis. In other words, the position of the bars encode the categorical values while their length encode the quantitative values.</p>

<ul>
<li>Use the controls above to navigate through time.</li>
<li>Click on the bars to highlight specific urban agglomerations.</li>
</ul>

</div>