<i title="information" class="icon-information_white icon2x"></i>

<div style="display:none">

<p>Inspired by Heer & Robertson’s paper, &#34;<a href="http://vis.berkeley.edu/papers/animated_transitions/">Animated Transitions in Statistical Data Graphics</a>&#34;</p>

<p>This is an example about combining a <strong>ranking design</strong> with a <strong>timeseries design</strong>. The connection between the two is obtained by the animated transitions.</p>

<p>The <strong>categorical</strong> scale, which identifies the urban agglomerations, resides on the <strong>Y axis</strong> and the scale for the <strong>quantitative</strong> values (population) resides on the <strong>X axis</strong>. In other words, the position of the bars encode the <strong>categorical values</strong> while their length encode the <strong>quantitative values</strong>.</p>

<ul>
<li>Use the controls above to navigate through time.</li>
<li>Click on the bars to highlight specific urban agglomerations.</li>
</ul>

</div>