/* line 3, ../sass/bar.scss */
svg {
  /*font-family: 'PT Mono', sans-serif;
  font-size: 1.5em;*/
  font: normal 14px/54px "pt mono";
  letter-spacing: 3px;
  word-spacing: -0.3em;
}

/* line 11, ../sass/bar.scss */
text {
  fill: #343434;
}

/* line 17, ../sass/bar.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #808080;
  shape-rendering: crispEdges;
}

/* line 23, ../sass/bar.scss */
.bar {
  fill: #607534;
  fill-opacity: .9;
}

/* line 28, ../sass/bar.scss */
.bar.active {
  fill: #c47c00;
}

/* line 32, ../sass/bar.scss */
.x.axis path {
  display: none;
}
