/* -------------------------------------------------------------------------*/
/* Layout */
/* line 9, ../sass/basic.scss */
.welcome {
  *zoom: 1;
  max-width: 48em;
  _width: 48em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.welcome:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 83em) {
  /* line 9, ../sass/basic.scss */
  .welcome {
    max-width: 83em;
  }
}
@media (min-width: 83em) {
  /* line 14, ../sass/basic.scss */
  .welcome header.welcome-header {
    padding-left: 8.43373%;
    padding-right: 8.43373%;
  }
  /* line 18, ../sass/basic.scss */
  .welcome .main {
    width: 49.39759%;
    float: right;
    margin-right: 0;
  }
}

/* line 37, ../sass/basic.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "PT+Mono";
  font-weight: 300;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  background-color: #333333;
  color: white;
}

/* line 56, ../sass/basic.scss */
h1 {
  font-size: 3em;
  /* 16x2.25=36 */
  letter-spacing: 0.15em;
  word-spacing: 0.2em;
  line-height: 1.4;
}

/* line 62, ../sass/basic.scss */
h2 {
  font-size: 2.25em;
  /* 16x2.25=36 */
  letter-spacing: 0.15em;
  word-spacing: 0.2em;
  line-height: 1.4;
}

/* line 68, ../sass/basic.scss */
h3 {
  font-size: 1.5em;
  /* 16x1.5=24 */
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  line-height: 1.2;
}

/* line 74, ../sass/basic.scss */
h4 {
  font-size: 1.125em;
  /* 16x1.125=18 */
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
  line-height: 1.1;
}

/* line 80, ../sass/basic.scss */
p.big {
  font-size: 0.875em;
  /* 16x0.875=14 */
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
  line-height: 1.1;
}

/* line 86, ../sass/basic.scss */
p {
  font-size: 0.75em;
  /* 16x0.75=12 */
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
  line-height: 1.1;
}

/* line 92, ../sass/basic.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 3, ../sass/welcome.scss */
.welcome .welcome-header {
  margin: 2em auto;
  padding: 3em 0;
  text-align: center;
}
/* line 9, ../sass/welcome.scss */
.welcome .welcome-header h1, .welcome .welcome-header h4 {
  font-weight: 100;
  text-transform: uppercase;
  opacity: 0.7;
}
/* line 15, ../sass/welcome.scss */
.welcome section.main {
  font-family: "Merriweather";
  margin: 3.5em 0;
  text-align: center;
  opacity: 0.9;
}

/* line 100, ../sass/basic.scss */
footer.contentinfo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #333333;
  color: #FFFFFF;
  text-align: center;
}
/* line 110, ../sass/basic.scss */
footer.contentinfo p {
  padding: 6px 0;
}
