/* -------------------------------------------------------------------------*/
/* Layout */
/* line 10, ../sass/basic.scss */
.welcome {
  *zoom: 1;
  max-width: 48em;
  _width: 48em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.welcome:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 83em) {
  /* line 10, ../sass/basic.scss */
  .welcome {
    max-width: 83em;
  }
}
@media (min-width: 83em) {
  /* line 15, ../sass/basic.scss */
  .welcome header.welcome-header {
    padding-left: 8.43373%;
    padding-right: 8.43373%;
  }
  /* line 19, ../sass/basic.scss */
  .welcome .main {
    width: 49.39759%;
    float: right;
    margin-right: 0;
  }
}

/* line 26, ../sass/basic.scss */
#explore_data {
  *zoom: 1;
  max-width: 48em;
  _width: 48em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#explore_data:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 83em) {
  /* line 26, ../sass/basic.scss */
  #explore_data {
    max-width: 83em;
  }
}
/* line 29, ../sass/basic.scss */
#explore_data #year, #explore_data #viz_controls {
  text-align: left;
}
@media (min-width: 83em) {
  /* line 32, ../sass/basic.scss */
  #explore_data #year, #explore_data #viz_controls {
    text-align: right;
  }
  /* line 33, ../sass/basic.scss */
  #explore_data .application_controls {
    width: 7.22892%;
    float: left;
    margin-right: 1.20482%;
  }
  /* line 36, ../sass/basic.scss */
  #explore_data .title {
    width: 66.26506%;
    float: right;
    margin-right: 0;
    padding-left: 8.43373%;
    padding-right: 16.86747%;
  }
  /* line 41, ../sass/basic.scss */
  #explore_data #viz {
    width: 66.26506%;
    float: left;
    margin-right: 1.20482%;
  }
  /* line 45, ../sass/basic.scss */
  #explore_data #info_panel {
    width: 32.53012%;
    float: right;
    margin-right: 0;
  }
}

/* line 54, ../sass/basic.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Play";
  font-weight: 300;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  background-color: #782206;
  color: white;
}
/* line 71, ../sass/basic.scss */
html .link {
  cursor: pointer;
}
/* line 74, ../sass/basic.scss */
html .link:hover {
  color: #d2d3e8;
}

/* line 80, ../sass/basic.scss */
h1 {
  font-size: 3em;
  /* 16x2.25=36 */
  letter-spacing: 0.15em;
  word-spacing: 0.2em;
  line-height: 1.4;
}

/* line 86, ../sass/basic.scss */
h2 {
  font-size: 2.25em;
  /* 16x2.25=36 */
  letter-spacing: 0.15em;
  word-spacing: 0.2em;
  line-height: 1.4;
}

/* line 92, ../sass/basic.scss */
h3 {
  font-size: 1.5em;
  /* 16x1.5=24 */
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
  line-height: 1.2;
}

/* line 98, ../sass/basic.scss */
h4 {
  font-size: 1.125em;
  /* 16x1.125=18 */
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
  line-height: 1.1;
}

/* line 104, ../sass/basic.scss */
p.big {
  font-size: 0.875em;
  /* 16x0.875=14 */
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
  line-height: 1.1;
}

/* line 110, ../sass/basic.scss */
p {
  font-size: 0.75em;
  /* 16x0.75=12 */
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
  line-height: 1.1;
}

/* line 116, ../sass/basic.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 5, ../sass/welcome.scss */
.welcome .welcome-header {
  margin: 2em auto;
  padding: 3em 0;
  text-align: center;
}
/* line 11, ../sass/welcome.scss */
.welcome .welcome-header h1, .welcome .welcome-header h4 {
  font-weight: 100;
  text-transform: uppercase;
  opacity: 0.7;
}
/* line 17, ../sass/welcome.scss */
.welcome section.main {
  font-family: "Merriweather";
  margin: 3.5em 0;
  text-align: center;
  opacity: 0.9;
}

/* line 2, ../sass/bar.scss */
svg {
  /*font-family: 'PT Mono', sans-serif;
  font-size: 1.5em;*/
  font: normal 14px/54px "pt mono";
  letter-spacing: 3px;
  word-spacing: -0.3em;
}

/* line 10, ../sass/bar.scss */
text {
  fill: white;
}

/* line 16, ../sass/bar.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* line 22, ../sass/bar.scss */
.bar {
  fill: #efefef;
  fill-opacity: .9;
}

/* line 27, ../sass/bar.scss */
.bar.active {
  fill: darkRed;
}

/* line 31, ../sass/bar.scss */
.x.axis path {
  display: none;
}

/* line 4, ../sass/explore_data.scss */
header.explore_data {
  padding-bottom: 180px;
}

/* line 9, ../sass/explore_data.scss */
header .application_controls {
  padding: 35px 0;
  text-align: center;
}
/* line 14, ../sass/explore_data.scss */
header i:hover {
  color: #d2d3e8;
}

/* line 19, ../sass/explore_data.scss */
.title {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}

/* line 25, ../sass/explore_data.scss */
#year {
  opacity: 0.9;
}
/* line 27, ../sass/explore_data.scss */
#year h1 {
  font-family: "lato";
  font-size: 5em;
}

/* line 35, ../sass/explore_data.scss */
#explore_data #viz_controls i.selected {
  color: #d2d3e8;
  opacity: 1;
}
/* line 39, ../sass/explore_data.scss */
#explore_data #viz_controls i.active {
  opacity: 0.4;
}
/* line 42, ../sass/explore_data.scss */
#explore_data #viz_controls i.inactive {
  opacity: 0.1;
}
/* line 45, ../sass/explore_data.scss */
#explore_data #viz_controls i.active:hover {
  color: #d2d3e8;
  opacity: 0.8;
}
/* line 50, ../sass/explore_data.scss */
#explore_data .controls {
  margin: 0.4em;
  cursor: pointer;
  cursor: hand;
}

/* line 125, ../sass/basic.scss */
footer.contentinfo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #333333;
  color: #FFFFFF;
  text-align: center;
}
/* line 135, ../sass/basic.scss */
footer.contentinfo p {
  padding: 6px 0;
}
