/* line 3, ../sass/bar.scss */
svg {
  /*font-family: 'PT Mono', sans-serif;
  font-size: 1.5em;*/
  font: normal 14px/54px "pt mono";
  letter-spacing: 3px;
  word-spacing: -0.3em;
}

/* line 11, ../sass/bar.scss */
text {
  fill: white;
}

/* line 17, ../sass/bar.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* line 23, ../sass/bar.scss */
.bar {
  fill: #efefef;
  fill-opacity: .9;
}

/* line 28, ../sass/bar.scss */
.bar.active {
  fill: #c47c00;
}

/* line 32, ../sass/bar.scss */
.x.axis path {
  display: none;
}

/* line 4, ../sass/explore_data.scss */
header.explore_data {
  padding-bottom: 180px;
}

/* line 9, ../sass/explore_data.scss */
header .application_controls {
  padding: 35px 0;
  text-align: center;
}
/* line 14, ../sass/explore_data.scss */
header i {
  opacity: 0.4;
}
/* line 17, ../sass/explore_data.scss */
header i:hover {
  opacity: 1;
  color: #d2d3e8;
}

/* line 23, ../sass/explore_data.scss */
.title {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}

/* line 29, ../sass/explore_data.scss */
#year {
  opacity: 0.9;
}
/* line 31, ../sass/explore_data.scss */
#year h1 {
  font-family: "lato";
  font-size: 5em;
}

/* line 39, ../sass/explore_data.scss */
#explore_data #viz_controls i.selected {
  color: #d2d3e8;
  opacity: 1;
}
/* line 43, ../sass/explore_data.scss */
#explore_data #viz_controls i.active {
  opacity: 0.4;
}
/* line 46, ../sass/explore_data.scss */
#explore_data #viz_controls i.inactive {
  opacity: 0.1;
}
/* line 49, ../sass/explore_data.scss */
#explore_data #viz_controls i.active:hover {
  color: #d2d3e8;
  opacity: 0.8;
}
/* line 54, ../sass/explore_data.scss */
#explore_data .controls {
  margin: 0.4em;
  cursor: pointer;
  cursor: hand;
}
