/* line 3, ../sass/bar.scss */
svg {
  /*font-family: 'PT Mono', sans-serif;
  font-size: 1.5em;*/
  font: normal 14px/54px "pt mono";
  letter-spacing: 3px;
  word-spacing: -0.3em;
}

/* line 11, ../sass/bar.scss */
text {
  fill: white;
}

/* line 17, ../sass/bar.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* line 23, ../sass/bar.scss */
.bar {
  fill: #efefef;
  fill-opacity: .9;
}

/* line 28, ../sass/bar.scss */
.bar.active {
  fill: #c47c00;
}

/* line 32, ../sass/bar.scss */
.x.axis path {
  display: none;
}

/* line 5, ../sass/explore_data.scss */
header.explore_data .application_controls {
  padding: 35px 0;
  text-align: center;
}
/* line 9, ../sass/explore_data.scss */
header.explore_data .application_controls i {
  opacity: 0.4;
}
/* line 12, ../sass/explore_data.scss */
header.explore_data .application_controls i:hover {
  opacity: 1;
  color: #d2d3e8;
}
/* line 18, ../sass/explore_data.scss */
header.explore_data .title {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}
/* line 22, ../sass/explore_data.scss */
header.explore_data .title .year {
  color: #f79c00;
}

/* line 32, ../sass/explore_data.scss */
#info_panel #viz_controls {
  padding: 0 0 25px 30px;
}
/* line 34, ../sass/explore_data.scss */
#info_panel #viz_controls i.selected {
  color: #d2d3e8;
  opacity: 1;
}
/* line 38, ../sass/explore_data.scss */
#info_panel #viz_controls i.active {
  opacity: 0.4;
}
/* line 41, ../sass/explore_data.scss */
#info_panel #viz_controls i.inactive {
  opacity: 0.1;
}
/* line 44, ../sass/explore_data.scss */
#info_panel #viz_controls i.active:hover {
  color: #d2d3e8;
  opacity: 0.8;
}
/* line 48, ../sass/explore_data.scss */
#info_panel #viz_controls .controls {
  margin: 0.4em;
  cursor: pointer;
}
/* line 53, ../sass/explore_data.scss */
#info_panel .help {
  font-family: "Merriweather";
  opacity: 0.9;
  padding: 12px 42px;
}
/* line 57, ../sass/explore_data.scss */
#info_panel .help i {
  opacity: 0.4;
  cursor: pointer;
}
/* line 61, ../sass/explore_data.scss */
#info_panel .help i:hover {
  opacity: 0.8;
  color: #d2d3e8;
}
/* line 65, ../sass/explore_data.scss */
#info_panel .help i.selected {
  color: #d2d3e8;
  opacity: 1;
}
/* line 69, ../sass/explore_data.scss */
#info_panel .help ul {
  padding-left: 14px;
}
/* line 72, ../sass/explore_data.scss */
#info_panel .help li {
  margin-bottom: 10px;
}
